<%= form_for([@article, @comment]) do |f| %>
  <div class="field">
    <%= f.label :content, "New comment:" %>
    <%= f.text_area :content %>
    <%= f.hidden_field :commenter_email, value: "Anonymous Coward" if current_user.nil?%>

    <%= f.submit %>
  </div>
<% end %>
