<%= form_for([@article, @comment]) do |f| %>
  <div class="field">
    <%= f.label :content, "New comment:" %>
    <%= f.text_area :content %>
    <% if current_user %>
      <%= f.hidden_field :commenter_email, value: current_user.email %>
    <% else %>
      <%= f.hidden_field :commenter_email, value: "Anonymous Coward" %>
    <% end %>

    <%= f.submit %>
  </div>
<% end %>
