<tr class="article" id="<%= dom_id article %>">
  <td><%= article.title %></td>
  <td><%= markdown(article.body) %></td>
  <td><%= link_to 'Show', article %></td>
  <% if policy(article).update? %>
    <td><%= link_to 'Edit', edit_article_path(article), remote: true %></td>
  <% end %>
  <% if policy(article).destroy? %>
    <td><%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
  <% end %>
</tr>
