<h2>My Portfolio</h2>
<ul>
<% @projects.each do |project| %>
  <li class="project" id="<%= dom_id(project) %>">
    <h3><%= project.name %></h3>
    <p><%= project.technologies_used %></p>
    <div class="nav">
      <%= link_to 'Show', project %>
      <% if policy(project).update? %>
        <%= link_to 'Edit', edit_project_path(project) %>
      <% end %>
      <% if policy(project).destroy? %>
        <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </li>
<% end %>
</ul>
<br>
<%# link_to 'New Project', new_project_path %>

<% if policy(@projects).create? %>
  <%= direct_upload_form_for @uploader do |f| %>
    <p><%= f.file_field :image %></p>
    <p><%= f.submit "Upload Image" %></p>
  <% end %>
<% end %>
