<h2><%= @project.name %></h2>
<p>
  <% if @project.image_processed? %>
    <%= image_tag @project.image_url(:thumb).to_s %>
  <% elsif @project.image_url %>
    <em>Processing...</em>
  <% end %>
</p>
<p>Technologies used: <%= @project.technologies_used %></p>
<br>
<div class="nav">
  <%= link_to 'Edit', edit_project_path(@project) %>
  <%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
