<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "David Ker - Ruby on Rails Developer" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert-box round <%= flash_class(key) %>">
        <%= value %>
      </div>
    <% end %>

    <div class="row">
      <div class="small-12 medium-4 large-4 columns namelogo">
        <a href="/"><h1>David Ker</h1></a>
      </div>
      <div class="small-12 medium-8 large-8 columns">
        <div class="nav-bar">
          <ul class="button-group">
          <li><a href="#about" class="button">About</a></li>
          <li><a href="#projects" class="button">Projects</a></li>
          <li><a href="<%= articles_path %>" class="button">Blog</a></li>
          <% if current_user.present? %>
            <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete , class: 'button' %></li>
          <% else %>
            <li><%= link_to 'Sign Up', new_user_registration_path, class: 'button' %></li>
            <li><%= link_to 'Sign In', new_user_session_path, class: 'button' %></li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <%= yield %>
      </div>
    </div>

    <footer class="row">
      <div class="large-12 columns">
        <div class="row">
          <div class="large-6 columns">
            <% if current_user %>
              <p>Signed in as <%= current_user.email %>.</p>
            <% end %>
            <p>© Copyright no one at all. Go to town.</p>
          </div>
          <div class="large-6 columns">
            <ul class="inline-list right">
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Suscribe</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script src="js/foundation/foundation.clearing.js"></script>

  </body>
</html>
