<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "David Ker - Ruby on Rails Developer" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert-box round <%= flash_class(key) %>">
        <%= value %>
      </div>
    <% end %>

    <%= render partial: '/layouts/header' %>

    <div class="row">
      <div class="large-12 columns">
        <%= yield %>
      </div>
    </div>

    <%= render partial: '/layouts/footer' %>

    <!-- <script src="js/foundation/foundation.clearing.js"></script> -->

  </body>
</html>
